.container{
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 100%;
}

.col-md-6{
    margin-top: 50px;
    float: left;
}

img{
    width: 50%;
    margin-right: auto;
       

}


.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

    
