/* You can add global styles to this file, and also import other style files */

body,html{
    height: 100%;
    margin: 0 auto;   
    }
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

span{
    font-weight: 600;
}
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


section{
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}