

div#carouselExampleControls {
    
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;

    
  
}


.product ul{
    display: flex;
    position: relative;
    
    
}

.contentArea{
    height: 100%;
    
}

